<button hx-target="#form-container" hx-get="/new_data_form">Add New Data</button>

<div id="graphs">
	<div class="graph-container">
		<h3>Weight</h3>
		<img src="graph/weight" alt="weight graph" id="weight-graph">
	</div>
	<div class="graph-container">
		<h3>Visceral Fat</h3>
		<img src="graph/visceral_fat" alt="visceral fat graph" id="visceral_fat-graph">
	</div>
	<div class="graph-container">
		<h3>Fat</h3>
		<img src="graph/body_fat" alt="fat graph" id="fat-graph">
	</div>
	<div class="graph-container">
		<h3>Muscle</h3>
		<img src="graph/muscle" alt="muscle graph" id="muscle-graph">
	</div>
	<div class="graph-container">
		<h3>Water</h3>
		<img src="graph/water" alt="water graph" id="water-graph">
	</div>
	<div class="graph-container">
		<h3>Protein</h3>
		<img src="graph/protein" alt="protein graph" id="protein-graph">
	</div>
	<div class="graph-container">
		<h3>Metabolism</h3>
		<img src="graph/metabolism" alt="metabolism graph" id="metabolism-graph">
	</div>
	<div class="graph-container">
		<h3>Bone Mass</h3>
		<img src="graph/bone_mass" alt="bone mass graph" id="bone_mass-graph">
	</div>
	<div class="graph-container">
		<h3>Hip Diameter</h3>
		<img src="graph/hip_diameter" alt="hip diameter graph" id="hip_diameter-graph">
	</div>
</div>
