<button hx-target="#form-container" hx-get="/new_data_form">Add New Data</button>

<div id="graphs">
	<div class="graph-container">
		<h3>Weight</h3>
		<img src="graph/scale_data/weight/simple/7" alt="weight graph" id="weight-graph">
	</div>
	<div class="graph-container">
		<h3>Visceral Fat</h3>
		<img src="graph/scale_data/visceral_fat/simple/7" alt="visceral fat graph" id="visceral_fat-graph">
	</div>
	<div class="graph-container">
		<h3>Fat</h3>
		<img src="graph/scale_data/body_fat/simple/7" alt="fat graph" id="fat-graph">
	</div>
	<div class="graph-container">
		<h3>Muscle</h3>
		<img src="graph/scale_data/muscle/simple/7" alt="muscle graph" id="muscle-graph">
	</div>
	<div class="graph-container">
		<h3>Water</h3>
		<img src="graph/scale_data/water/simple/7" alt="water graph" id="water-graph">
	</div>
	<div class="graph-container">
		<h3>Protein</h3>
		<img src="graph/scale_data/protein/simple/7" alt="protein graph" id="protein-graph">
	</div>
	<div class="graph-container">
		<h3>Metabolism</h3>
		<img src="graph/scale_data/metabolism/simple/7" alt="metabolism graph" id="metabolism-graph">
	</div>
	<div class="graph-container">
		<h3>Bone Mass</h3>
		<img src="graph/scale_data/bone_mass/simple/7" alt="bone mass graph" id="bone_mass-graph">
	</div>
	<div class="graph-container">
		<h3>Hip Diameter</h3>
		<img src="graph/scale_data/hip_diameter/simple/7" alt="hip diameter graph" id="hip_diameter-graph">
	</div>
</div>
